.navbar-toggler{
  position: fixed;
  top: 25px;
  right: 10px;
}
.navbar {
  /*padding-top:10px;*/
  float:right;
  background-color: #33bed2;
}

.navbar-dark .navbar-nav .nav-link{
    color: #000;
}



 footer{
  padding: 10px 0; 
  background-color: #33bed2;
}
.navbar-dark .navbar-toggler{
   color: #f00;  
}

body {
    padding-top:100px;
}

.slider-photos img {
/*    height: 100%;
    width: 100%;*/
}

#program1, #program2, #program3 {
    background-color: #12a7a1;
    border: 1px solid black;   
    margin: 5px;
}

#program1 img, #program2 img {
    padding: 5px;
}

#program2 {
    background-color: #ffc147 ;
}
.navbar-dark .navbar-nav .nav-link {
    color: #f00;
}
.about , .team {
    background-color: #2452b4;
    border:1px solid black;
    
}
.about h3 , .team h3{
    background-color: #12a7a1;
    border:1px solid black;
}

.program{
    background-color: #ff801b;
     border:1px solid black;
      
}
.program h3{
    background-color: #12a7a1;
    border:1px solid black;
}
.bigImage{
    height:100%;
    width:100%;
   
}
.fixed-bottom {
    position: -webkit-sticky;
    position: sticky;
    margin-bottom: 1rem;
    padding-bottom: 1rem;    
}

.btn {    
    border-radius: 50%;
    width: 140px;
    height: 130px;
    text-align:justify-all;
    background-color: rgba(255, 0, 0, .5);
    font-size: 150%;
    border: 3px solid darkred;
}

@media only screen and (max-width: 320px) {
    .btn {      
        width: 100px;
        height: 100px;
        text-align:justify-all;    
        font-size: 100%;    
    }
}
