@import url('https://fonts.googleapis.com/css?family=Open+Sans|Solway&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

h1, h3, h2, h4, h5, h6 {
    font-family: 'Solway', serif;
    color: white;
}

.navbar-toggler{
    position: fixed;
    top: 25px;
    right: 10px;
}
.navbar {
    /*padding-top:10px;*/
    float:right;
    background-color: #33bed2;
}

.navbar-dark .navbar-nav .nav-link{
    color: #fff;
    font-weight: bold;
}

footer{
    background-color: #33bed2;
    padding-left: 5%;
    margin: 0;
}
.navbar-dark .navbar-toggler{
    color: #f00;  
}

#maincontainer, .staff-top-gap {
    padding-top:100px;
}

.slider-photos img {
    height: 100%;
    width: 100%;
}

#program1, #program2, #program3 {
    background-color: #a9a4ae;
    border: 1px solid black;   

}

#program2 {
    background-color: #0c517f ;
}

h3 {
    border: 1px solid black;  
}

/*#program1 h3, #program3 h3 {
    background-color: #0c517f ;
}*/

#program2 h3 {
    background-color: #12a7a1 ;
}

.fixed-bottom {
    position: -webkit-sticky;
    position: sticky;
    margin-bottom: 1rem;
    padding-bottom: 1rem;    
}

#signupButton, #classesButton {    
    border-radius: 50%;
    width: 140px;
    height: 130px;
    text-align:justify-all;
    background-color: rgba(255, 0, 0, .5);    
    font-size: 150%;
    border: 3px solid darkred;
}


@media only screen and (max-width: 320px) {
    #signupButton , #classesButton {      
        width: 100px;
        height: 100px;
        text-align:justify-all;    
        font-size: 100%;    
    }
}

#classesButton {
    padding-top: 1em;
}

#signupButton {
    padding-top: 0.6em;
}

.bg-phone-icon {
            background-image: url(images/icon_phone_red.jpg);
            background-position: 3.4vmax;
            background-repeat: no-repeat;
            background-size: 1.2vmax 1.2vmax;
        }

        .email-style {
            color: #ffffff;
            background-color: #262626;
            width: 7vmax;
            height: 1.4vmax;
        }

.about , .team {
    background-color: #2452b4;
    border:1px solid black;
    
}
.about h3 , .team h3{
    background-color: #12a7a1;
    border:1px solid black;
}

.program{
    background-color: #ff801b;
     border:1px solid black;
      
}
.program h3{
    background-color: #12a7a1;
    border:1px solid black;
}
.bigImage{
    height:100%;
    width:100%;
   
}

iframe {
    width: 100%;
    height: 315px;
}

.white-font {
    color: #fff;
}

.darkblue {
    color: darkblue;
}

.address{
    color: white;
    font-size: large;
    background-color: #686565;
    border-radius: 25px;
}
#email{
    background-color: #f26c4f;
    border: 1px solid black;
}

#phone{
    background-color: #91b90f;
    border: 1px solid black;
}

#hours{
    background-color: #9a16e7;
    border: 1px solid black;
}

.mainemail{
    background-color: #686565;
    border-radius:25px;
}

a:link{
    color: #eccf8f;
}

#map{
    width: 100%;
    height: 300px;
    background-color: grey; 
}

.white-font-large{
    color: #fff;
    font-size: large;
}

footer{
    background-color: #12a7a1;
    padding: 10px;
}
