.navbar-toggler{
  position: fixed;
  top: 10px;
  right: 10px;
}
.navbar {
  padding-top:0;
  float:right;
}

.navbar-dark .navbar-nav .nav-link{
    color: #f00;
}
header, footer{
  padding: 20px 0; 
  background-color: #ffb071;
}
.navbar-dark .navbar-toggler{
   color: #f00;  
}
