/* NINJA STYLESHEET */
@import url('https://fonts.googleapis.com/css?family=Bangers|Raleway&display=swap');
/* 
font-family: 'Bangers', cursive;
font-family: 'Raleway', sans-serif;
*/

body{
  font-family: 'Raleway', sans-serif;
  color:#d3f2ea;
  background-color: #e2f99a;
}
header, footer{
background-color: #000;
  padding: 20px 0; 
}
.navbar {
  padding-top:0;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Bangers', cursive;
  color: #e2f99a;
}

h2 {
  margin-top:2rem;
  text-align: center;
}

.container, .container-fluid{
  background-color: #000;
}

.container-fluid{
  max-width: 1200px;
}

iframe {
  width: 100%;
  border: none;
}

.actors img { 
  width: 100%;
  margin-bottom: .5rem;
}
.actors .row > :last-child{
  display: flex;
  align-items: center;
}

.navbar-toggler{
  position: fixed;
  top: 10px;
  right: 10px;
}


/* SLIDER */
.slider-photos{
  margin-bottom: 1rem;
}
.slick-slide{
  padding: 0 3px;
}
.slick-prev:before, .slick-next:before,
.slick-dots li button:before,
.slick-dots li.slick-active button:before{
  color: #e2f99a;
  font-size: 30px;
}

.slick-prev{ left: 15px; z-index: 100; }
.slick-next{  right: 20px; }



/* BOOTSTRAP MEDIUM */
@media (min-width: 768px){
  .actors .row > :last-child{
    display: block;
    align-items: normal;
    text-align: center;
  }
}











