@import url('https://fonts.googleapis.com/css?family=Open+Sans|Solway&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

h1, h3, h2, h4, h5, h6 {
    font-family: 'Solway', serif;
}


.navbar-toggler {
    position: fixed;
    top: 25px;
    right: 10px;
}

.navbar {
    /*padding-top:10px;*/
    float: right;
    background-color: #33bed2;
}

.navbar-dark .navbar-nav .nav-link {
    color: #f00;
}

footer {
    padding: 20px 0;
    background-color: #33bed2;
}

.navbar-dark .navbar-toggler {
    color: #f00;
}

#maincontainer, .staff-top-gap {
    padding-top: 100px;
}

.slider-photos img {
    height: 100%;
    width: 100%;
}

#program1, #program2, #program3 {
    background-color: #12a7a1;
    border: 1px solid black;

}

#program2 {
    background-color: #ffc147;
}

h3 {
    border: 1px solid black;
}

#program1 h3, #program3 h3 {
    background-color: #ffc147;
}

#program2 h3 {
    background-color: #12a7a1;
}

.fixed-bottom {
    position: -webkit-sticky;
    position: sticky;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

#signupButton, #classesButton {
    border-radius: 50%;
    width: 140px;
    height: 130px;
    text-align: justify-all;
    background-color: rgba(255, 0, 0, .5);
    font-size: 150%;
    border: 3px solid darkred;
}

#classesButton {
    padding-top: 1em;
}

@media only screen and (max-width: 320px) {
    #signupButton {
        width: 100px;
        height: 100px;
        text-align: justify-all;
        font-size: 100%;
    }
}

.email-style {
    color: #ffffff;
    background-color: #262626;
    width: 7vmax;
    height: 1.4vmax;
}

.about, .team {
    background-color: #2452b4;
    border: 1px solid black;

}

.about h3, .team h3 {
    background-color: #12a7a1;
    border: 1px solid black;
}

.program {
    background-color: #ff801b;
    border: 1px solid black;

}

.program h3 {
    background-color: #12a7a1;
    border: 1px solid black;
}

.bigImage {
    height: 100%;
    width: 100%;

}

iframe {
    width: 100%;
    height: 315px;
}

.h3 {
    font-size: 1.15rem;
}

.h4 {
    font-size: 0.95rem;
}

.h5 {
    font-size: 0.85rem;
}

.phone-icon {
    height: 1.4rem;
    width: 1.6rem;
}

.email-style {
    color: black;
    text-decoration: none;
    background-color: #33bed2;
    width: 7rem;
    height: 1.6rem;
    line-height: 1.6rem;
    transition: color 0.5s, transform 0.5s;
}

.name-box {
    cursor: pointer;
    transition: color 0.5s, transform 0.5s;
}

.email-box:hover .email-style {
    color: yellow;
    transform: scale(1.1, 1.1);
}

.name-box:hover {
    color: red;
    transform: scale(1.2, 1.2);
}

.img-box {
    cursor: pointer;
    transition: transform 0.3s;

}

.img-box:hover {
    transform: scale(1.05, 1.05) rotate(360deg);
}

.img-content {
    font-size: 1rem;
    color: black;
    text-shadow: 1px 1px 2px;
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 80%;
    transition: .5s ease-in-out;
    transition-delay: .1s;
}

@media screen and (min-width: 1501px) and (max-width: 1800px) {
    .img-content{
        font-size: 1rem;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1500px) {
    .img-content{
        font-size: 0.73rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .img-content{
        font-size: 0.855rem;
    }
}

@media screen and (min-width: 901px) and (max-width: 991px) {
    .img-content{
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 801px) and (max-width: 900px) {
    .img-content{
        font-size: 0.95rem;
    }
}

@media screen and (min-width: 700px) and (max-width: 800px) {
    .img-content{
        font-size: 0.8rem;
    }
}

@media screen and (min-width: 630px) and (max-width: 699px) {
    .img-content{
        font-size: 0.75rem;
    }
}
@media screen and (min-width: 576px) and (max-width: 629px) {
    .img-content{
        font-size: 0.65rem;
    }
}

@media screen and (min-width: 420px) and (max-width: 575px) {
    .img-content{
        font-size:1.6em;
    }
}

@media screen and (min-width: 386px) and (max-width: 419px) {
    .img-content{
        font-size:1.3em;
    }
}

@media screen and (min-width: 330px) and (max-width: 385px) {
    .img-content{
        font-size:1.1em;
    }
}

@media screen and (min-width: 280px) and (max-width: 329px) {
    .img-content{
        font-size:0.8em;
    }
}

@media screen and (min-width: 260px) and (max-width: 279px) {
    .img-content{
        font-size:0.7em;
    }
}

@media screen and (min-width: 240px) and (max-width: 259px) {
    .img-content{
        font-size:0.6em;
    }
}


@media screen and (min-width: 220px) and (max-width: 239px) {
    .img-content{
        font-size:0.4em;
        padding: 0;
    }
}

@media screen and (min-width: 205px) and (max-width: 219px) {
    .img-content{
        font-size:0.3em;
    }
}

@media screen and (min-width: 0px) and (max-width: 204px) {
    .img-content{
        font-size:0.15em;
    }
}



.img-wrapper{
    position:relative;
}


.img-wrapper:hover .img-box{
    opacity: 0;
}

.img-wrapper:hover .img-content{
    opacity: 1;

}