

.header{
    font-family: 'Copperplate Gothic light',serif;
    background-color:#4b688b;
    color:#440028;
    font-size: 2em;
    
}

.aside .title{
    font-family: 'Copperplate Gothic light',serif;
    color:#440028;

}
.aside .details{
    font-family: 'calbiri',serif;
    color:#440028;
    margin-bottom:60px;
}
.aside {
    background-color:#4b688b;
    border:5px  solid #440028;
}
.main{


    border:5px  solid #440028; 



}
.main .title{
    font-family: 'Copperplate Gothic light',serif;
    color:#4b688b;
    margin-left: 8px;
}
.main .details{
    font-family: 'calbiri',serif;
    color:#4b688b;
    margin-left: 8px;
    margin-bottom:60px;
}