/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 13, 2019, 9:32:31 AM
    Author     : 6155202
*/
@import url('https://fonts.googleapis.com/css?family=Bangers|Raleway&display=swap');
body{
    font-family: 'Raleway',sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Bangers',cursive;
}